<h3 align="center">Modifica Etapa</h3>
<hr>

<div class="container">
<div class="row">
	<div *ngIf="EtapaSelecto" class="col-md-12">
		
		<form (ngSubmit)="guardarMod(forma1)" #forma1="ngForm">
			
			<div class="form-group">
				<label>Nombre</label>
				<input 	[(ngModel)]="EtapaSelecto.nombre"
						type="text" 
						name="nombre"
						class="form-control"
						placeholder=""
						required>
			</div>
			<div class="form-group">
				<button [disabled]="!forma1.valid" 
					type="submit" class="btn btn-outline-primary">
					Guardar cambios 
				</button>
				<button [routerLink]="['/etapas']" class="btn btn-outline-danger">
					Regresar 
				</button>
			</div>
		</form>
	</div>

</div>
</div>

