<div *ngIf="!sesion">
	<div *ngIf="error" class=" col-6 mx-auto alert alert-danger">{{error}}</div>
	<div class="col-lg-6 mx-auto">

		<div class="card">
			<div class="card-header bg-primary text-white">
				<span>Bienvenido al sistema Control de Crops</span>
			</div>
			<div class="card-body">

  		<div class="form-group">
    		<label for="emailTxt">Dirección de Correo</label>
    		<input type="email" class="form-control" id="emailTxt"
    		[(ngModel)]="correo"
    		aria-describedby="emailHelp">
    			<small id="emailHelp" class="form-text text-muted">
						Nosotros no compartiremos su email con nadie
          </small>
  		</div>
  		<div class="form-group">
    		<label for="passwordTxt">Password</label>
    		<input type="password"
    		[(ngModel)]="clave"
    		 class="form-control" id="passwordTxt">
  		</div>
  		<button type="button" (click)="iniciarSesion()"
			class="btn btn-primary">Ingresar</button>
			</div>
		</div>
	</div>
</div>
