<div *ngIf="sesion && permisos[0]=='1'" class="container main-container">

<h4 class="animated fadeIn fast" align="center">Mantención de Crops</h4>
<hr>

<div class="col-lg-12">
	<a [routerLink]="['/crop','nuevo']" class="btn btn-primary">Nuevo</a>
</div>
<hr>
<table class="table table-bordered table-sm">
        <thead class="bg-primary text-light" align="center">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col" align="center">Fecha Creación</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let crop of cropsGet">
              	<td align="center">{{ crop.nombre }}</td>
								<td align="center">{{ crop.fecha_creacion | date:'yyyy-MM-dd' }}</td>
								<td align="center"><a [routerLink]="['/datoscrop',crop.id]"
									class="btn btn-primary" (click)="PreUpdateCrop(crop)">Actualizar datos</a>

								</td>
            </tr>
        </tbody>
    </table>
	<div class="d-flex justify-content-between p-2 mx-auto col-lg-8 col-md-10 col-sm-12">
  	<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="maxSize">
  	</ngb-pagination>

  	<select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    	<option [ngValue]="2">2 items per page</option>
    	<option [ngValue]="4">4 items per page</option>
    	<option [ngValue]="6">6 items per page</option>
			<option [ngValue]="10">10 items per page</option>
  	</select>
	</div>
</div>
<div *ngIf="!sesion || permisos[0]=='0'" class="text-center mx-auto col-6 alert alert-danger">
	Usted no tiene acceso a esta sección
</div>
